@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
  object-fit: cover;
}

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid var(--primary);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.p-0 {
  padding: 0;
}
.pt-0 {
  padding-top: 0;
}

iframe {
  width: 100%;
  border: none;
}
