.btn {
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.14px;
  border-radius: 0;

  &:disabled,
  &.disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  &.btn-primary {
    border: 1px solid $black;
    background-color: $black;
    color: $white;
  }

  &.btn-secondary {
    border: 1px solid $black;
    background-color: transparent;
    color: $black;
  }

  &.btn-tertiary {
    background-color: transparent;
    border: none;
    color: $black;
  }
}
