.contact-info-section {
  gap: 32px;

  @include mobile{
    gap: 16px;
  }
}

.contact-info-item {
  position: relative;
  padding: 30px;
  text-align: center;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
  }

  &::before {
    top: 0;
    left: 0;
    border-top: 2px solid $black;
    border-left: 2px solid $black;
  }

  &::after {
    top: 0;
    right: 0;
    border-top: 2px solid $black;
    border-right: 2px solid $black;
  }

  .contact-info-content {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
    }

    &::before {
      bottom: 0;
      left: 0;
      border-bottom: 2px solid $black;
      border-left: 2px solid $black;
    }

    &::after {
      bottom: 0;
      right: 0;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
    }
  }

  .contact-value {
    font-size: 1.2rem;
  }

  .contact-label {
    font-size: 0.8rem;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
  }
}
