.faq-item {
  position: relative;
  padding: 20px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $black;
  }

  .faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-title {
    margin: 0;
    font-size: 1.25rem;
  }

  .faq-toggle {
    background: none;
    border: 1px solid $primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: $secondary;
    padding: 0;
    line-height: 0;
  }

  .faq-toggle .minus {
    display: none;
  }

  .faq-content {
    display: none;
    margin-top: 15px;
  }

  &.open {
    .faq-toggle .plus {
      display: none;
    }

    .faq-toggle .minus {
      display: block;
    }

    .faq-content {
      display: block;
    }
  }

  .faq-tags {
    margin-top: 10px;
    color: $black;
    font-size: 0.9rem;
  }
}
.faq-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  transition: opacity 0.5s ease-in-out;

  &.fade-out {
    opacity: 0;
  }

  &.fade-in {
    opacity: 1;
  }
}
.faq-section {
  .title {
    color: $primary;
  }
  .description {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.1rem;
  }
}

.faq-grid {
  border: $primary 2px solid;
  padding: 2rem;
  @include mobile {
    padding: 1rem;
  }
  .flex {
    gap: 3rem;
  }

  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    img {
      height: 450px;
      object-fit: cover;

      @include mobile {
        height: 100%;
      }
    }
  }
  .faq-list {
    width: 100%;
  }
}
