@import "breakpoints";

@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans Condensed';
  src: url('/assets/fonts/nunito-sans-condensed/Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Doto';
  src: url('/assets/fonts/Doto.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/NunitoSans.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin: 1rem 0;
  color: $black;
  font-weight: 600;
}

h1 {
  font-size: 40px;

  @include mobile {
    font-size: 2.275rem;
  }
}

h2 {
  font-size: 36px;

  @include mobile {
    font-size: 2.1rem;
  }
}

h3 {
  font-size: 32px;

  @include mobile {
    font-size: 1.8375rem;
  }
}

h4 {
  font-size: 28px;

  @include mobile {
    font-size: 1.4rem;
  }
}
h5 {
  font-size: 24px;

  @include mobile {
    font-size: 1.05rem;
  }
}

h6 {
  font-size: 20px;

  @include mobile {
    font-size: 1rem;
  }
}

a {
  color: $primary;
  font-family: var(--body-font);
  text-decoration: none;
  transition: all 100ms linear;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0;

  &.small {
    font-size: 0.875rem;
  }
}

li {
  margin: 0.75rem 0;
  list-style-type: none;
  font-family: var(--secondary-font);
}

blockquote {
  span.big {
    font-size: 2.5rem;
    color: $black;
  }

  font-size: 1.2rem;
}
.text-18 {
  font-size: 18px;
}
.text-16 {
  font-size: 16px;
}
.text-14 {
  font-size: 14px;
}
.text-12 {
  font-size: 12px;
}