---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<section>
  <div class="inner">
    <h1>hello friends</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eum, aperiam
    architecto ipsam dolore totam aut ex libero deserunt id quia natus maxime quam
    aliquid, dolor eius! Praesentium ex explicabo et nemo blanditiis saepe vero numquam,
    molestias tempore reiciendis tenetur molestiae eaque mollitia corrupti. Sunt et
    maxime, quaerat possimus debitis laborum facilis. Cum officiis earum quam voluptatibus
    sint temporibus, qui corrupti voluptatum obcaecati aspernatur voluptatem explicabo
    iure! Eos optio reprehenderit mollitia, atque sed nostrum praesentium quaerat
    eius soluta, quam delectus dolorum aliquam quisquam tempora rem numquam enim.
    Maxime obcaecati assumenda doloremque incidunt modi ducimus, quidem veniam optio
    quaerat. Iusto, exercitationem.
  </div>
</section>

<style lang="scss"></style>
